
/* Remove padding from aside elements */
aside {
  padding-left: 0!important;
  /* padding-right: 4px!important; */
}

.truncate {
  overflow: unset;
  text-overflow: unset;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: normal;
}
